.home-content {
    margin-top : 150px;
}

body{
    background-color:blanchedalmond;
}

@media only screen and (max-width: 600px) {
    .home-content{
        margin-top: 100px;
        display: block;
        text-align: center;
    }

    .home-text {
        padding-top: 30px;
    }
  }