.home-content {
  margin-top: 150px;
}

body {
  background-color:aliceblue;
}

.abcd{
  border-radius: 40%;
}

.about{
  background-image: url("https://picsum.photos/1000/500 ");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  /* background-position: center center; */
  color: white;
  border-radius: 10px;
}




@media only screen and (max-width: 600px) {
  .home-content {
    margin-top: 100px;
    display: block;
    text-align: center;
  }

  .home-text {
    padding-top: 30px;
  }
}
